# ==========================================
# CACHE DO PYTHON
# ==========================================
__pycache__/
*.pyc

# ==========================================
# AMBIENTES VIRTUAIS
# ==========================================
.venv/
venv/

# ==========================================
# VARIÁVEIS DE AMBIENTE
# ==========================================
.env

# ==========================================
# BANCO LOCAL
# ==========================================
faturamento_scada.db

# ==========================================
# CREDENCIAIS E SEGREDOS
# ==========================================
senha_email.py
credentials.json